# Database
DB_PASSWORD=YourStrongPassword123

# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development

# Certificates
CERT_PASSWORD=YourCertPassword123

# Ports
API_HTTP_PORT=5001
API_HTTPS_PORT=5002
SQL_PORT=1433